body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    background-image: url('img/Background_Image/underwater-8732344_1280.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    background-color: black;
}

canvas {
    display: none;
}

.start_screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('img/3. Background/Legacy/Dark/2.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    background-color: rgb(34, 27, 94);
    margin-left: 20px;
    margin-right: 20px;
}

.gap70 {
    gap: 70px;
}

.panel {
    display: flex;
    justify-content: space-around; /* Buttons im Panel verteilen */
    align-items: center;
    width: 100%;
}

.hud {
    position: absolute;
    top: 10px; /* Abstand vom oberen Rand */
    right: 10px; /* Abstand vom rechten Rand */
    width: auto; /* Breite dynamisch lassen */
    display: flex;
    gap: 10px; /* Abstand zwischen Symbolen */
    z-index: 10;
}

.hud img {
    pointer-events: all; /* Für klickbare Elemente wie Buttons */
}

.hud-symbols {
    position: relative;
    width: 50px;
    height: 50px;
    z-index: 10;
    cursor: pointer;
}

.hud-container {
    position: relative;
    top: -475px;
    right: 5px;
    gap: 10px;
}

.play-button {
    height: 60px;
    width: 250px;
    font-size: 28px;
    box-shadow: 0px 7px #718E04;
}


.mobile-btns {
    height: 50px;
    width: 50px;
    background-color: rgb(159, 200, 5);
    border-radius: 8px;
}

.mobile-btns-position {
    position: absolute;
    bottom: 20px; /* Abstand vom unteren Rand */
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%; /* Breite über die gesamte Canvas */
    height: auto;
}

.overlay-container {
    width: 720px;
    height: 480px;
    background-image: url('img/3. Background/Dark/1.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    gap: 70px;
}

.win-img {
    width: 720px;
    height: 480px;
    background-image: url('img/6.Botones/Tittles/You win/Mesa de trabajo 1.png');
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
}

.lose-img {
    height: 50px;
}

.back-img {
    height: 75px;
    width: 100px;
    cursor: pointer;
}

.tutorial-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tutorial-dialog-container {
    height: 400px;
    width: 600px;
    background: #4335bd;
    border-radius: 20px;
    padding: 15px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.attack-container {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 70px;
}

.rotate-img {
    animation: rotate-animation 3s linear infinite;
    height: 225px;
    width: 125px;
}

.move-keys {
    height: 80px;
    width: 100px;
}

.key-bubble-shot {
    height: 50px;
    width: 50px;
}

.key-slap {
    height: 50px;
    width: 150px;
}

.fullscreen {
    position: relative; /* Grundlage für absolute Positionierung */
    width: 720px;
    height: 480px;
    margin: 0 auto; /* Zentriert den Container */
}

a {
    margin-top: 35px;
    color: white;
    font-size: 24px;
}

.impressum {
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 80vw;
    box-sizing: border-box;
    background-color: rgba(14, 15, 34, 0.582);
    padding: 32px;
    border-radius: 15px;
    box-shadow: rgba(255, 255, 255, 0.25) 0px 54px 55px, rgba(255, 255, 255, 0.25) 0px -12px 30px, rgba(255, 255, 255, 0.25) 0px 4px 6px, rgba(255, 255, 255, 0.25) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.imprint-links {
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.arrow-wrapper {
    margin-top: 32px;
    width: 100%;
    text-align: center;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes rotate-animation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* Smartphones */
@media only screen and (max-width: 720px) {
    .fullscreen {
        width: 100%;
        height: auto;
    }

    canvas {
        width: 100%;
        height: auto;
    }

    .tutorial-dialog-container {
        height: 100%;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }

    .fullscreen {
        width: 100%;
        height: auto;
    }

    .tutorial-dialog-container {
        height: 100%;
        min-width: 350px;
        max-width: 650px;
    }

    .overlay-container {
        max-height: 365px;
        min-height: 300px;
        height: auto;
        min-width: 350px;
        max-width: 650px;
    }
}